/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--text-font-weight);
  background-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#E7E7E7 0%, #1A1A1A 100%);
  background-attachment: fixed;
  background-size: cover;
}

/* ----------------------------HEADER---------------------------- */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--header-margin);
}

.header-content {
  font-family: var(--accent-font-family), fantasy;
  text-transform: uppercase;
  inline-size: var(--content-inline-size);
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: var(--header-content-padding);
}

.main-title {
  font-size: var(--main-title-font-size);
  margin: var(--main-title-margin);
}

.main-subtitle {
  font-size: var(--main-subtitle-font-size);
}

/* ----------------------------Основной контент---------------------------- */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--content-inline-size);
  margin: var(--content-margin);
}

/* ----------------------------Карточки. Список карточек и его элементы.---------------------------- */

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: grid;
  grid-template: repeat(3, min-content) / 1fr;
  border: 2px solid #000;
  background-color: #fff;
}

.card-title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-font-weight);
}

.image-block {
  position: relative;
  block-size: var(--content-inline-size);
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.car-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.car-image_label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 2px #fff;
  mix-blend-mode: hard-light;
  opacity: 50%;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.card-details p:nth-child(1) {
  margin-block-end: 27px;
}

.card-details p:nth-child(2) {
  margin-block-end: 25px;
}

/* ----------------------------Фильтры для картинок---------------------------- */

.filter-sepia {
  filter: sepia(0.5);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-contrast_brightness {
  filter:
    contrast(1.2) brightness(1.8);
}

.filter-brightness_saturate {
  filter:
    brightness(0.7) saturate(3);
}

.filter-hue-rotate-s {
  filter: hue-rotate(120deg);
}

.filter-blur {
  filter: blur(12px);
}

.filter-hue-rotate-m {
  filter: hue-rotate(290deg);
}

/* ----------------------------Кнопками для карточек---------------------------- */

.card-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--card-buttons-gap);
}

.button {
  position: relative;
  border: 2px solid #000;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  line-height: 12.6px;
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

/* ----------------------------Сердце---------------------------- */

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  inline-size: 39px;
  block-size: 38px;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 0.3s ease;
}

.sparks,
.main-body,
.core {
  opacity: 0;
}

.core {
  transition:
    opacity 0.3s 0.3s linear,
    fill 0.3s 0.3s linear;
}

.main-body {
  transition:
    opacity 0.3s linear,
    fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.heart {
  transform-origin: center center;
}

/* ----------------------------Кнопка с кассетой в конце страницы---------------------------- */

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--card__icon-button-gap);
  inline-size: var(--icon-button-inline-size);
  block-size: var(--icon-button-block-size);
  margin: var(--icon-button-margin);
}

.icon-button_svg {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

/* ----------------------------Разные состояния кнопок---------------------------- */

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.button:hover.button::after {
  transform: translateX(0);
}

.card__icon-button:focus {
  outline-color: transparent;
}

.card__icon-button:focus-visible {
  outline-color: #000;
}

.card__icon-button:hover .core,
.card__icon-button:active .core {
  fill: var(--contour-fill-color);
  opacity: 1;
  transition: 
    opacity 0.3s linear,
    fill 0.3s linear;
}

.card__icon-button:hover .main-body,
.card__icon-button:active .main-body {
  fill: var(--contour-fill-color);
  opacity: 1;
  transition: 
    fill 0.3s 0.05s linear,
    opacity 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-fill-color);
  opacity: 1;
  transition: 
    fill 0.3s linear,
    opacity 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-fill-color);
  opacity: 1;
  transition: 
    fill 0.3s 0.05s linear,
    opacity 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: icon-bigger 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-on 0.3s 0.3s ease-in 1;
}

/* ----------------------------Dialog---------------------------- */

.dialog-menu {
  font-family: var(--accent-font-family), fantasy;
  padding: 30px;
  background-color: #fff;
  border: 2px solid #000;
  inline-size: var(--dialog-menu-inline-size);
}

.dialog-menu::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog-menu_info {
  display: flex;
  justify-content: end;
  align-items: center;
}

.dialog-menu_info p {
  margin-inline-start: var(--dialog-menu_info-gap);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  inline-size: var(--dialog-menu-text-size);
}

.dialog-menu_button {
  inline-size: 100%;
  block-size: 38px;
  margin-block-start: 30px;
  cursor: pointer;
}

.dialog-menu_info .icon-button_svg {
  scale: 1.857;
}

/* ----------------------------Запросы---------------------------- */

@supports (-webkit-text-stroke: 0.2px #fff) {
  .car-image_label {
    text-shadow: none;
    -webkit-text-stroke: 0.6px #fff;
  }
}

@media (width <=375px) {
  .icon-button {
    flex-direction: column;
    block-size: 80px;
  }
}