/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: 'Inter', sans-serif;
  --text-font-weight: 400;
  --title-font-weight: 700;
  --accent-font-family: 'PressStart2P', fantasy;

  --content-inline-size: clamp(320px, 100%, 700px);
  --header-block-size: clamp(327px, 87.2vw, 368px);

  --header-margin: 102px 0 0 0;
  --content-margin: 100px auto 50px auto;
  --card__icon-button-margin: 50px 0 103px 0;
  --card__icon-button-gap: 8px;
  --card-buttons-gap: 12px;

  --contour-fill-color: #000;
  --main-body-fill-color: #000;
  --core-fill-color: #000;
  --sparks-fill-color: #ff0000;
}

@media (width <= 375px) {
  :root {
    --card__icon-button-margin: 52px 0 0 0;
    --header-margin: 100px 0 0 0;
  }
}