/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* -------FONTS------- */
  --main-font-family: 'Inter', sans-serif;
  --text-font-weight: 400;
  --title-font-weight: 700;
  --accent-font-family: 'PressStart2P';
}